extends layout
include _includes/sharedfunctions

block content
  .row.banner
    .col-12
      h1= place.name
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
          +outputRating(place.rating)
          p= place.address
          .cards.card-primary
            .card-block
              h2.card-title Opening hours
              +openingHours(place.openingTimes)
          .cards.card-primary
            .card-block
              h2.card-title Facilities
              +getFacilities(place.facilities)
        .col-12.col-md-6.location-map
          .cards.card-primary
            .card-block
              h2.card-title Location map
              img.img-fluid.rounded(src='https://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2&key=AIzaSyCyeuZ5jbNA79EAof77c4V24P-POLEOfL8')
      .row
        .col-12
          .cards.card-primary.review-card
            .card-block
              a#add-review.btn.btn-primary.float-right(href=`/locations/review/new/${place._id}`) Add review
              h2.card-title Customer reviews
              +outputReviews(place.reviews)
    .col-12.col-lg-3
      p.lead
        | #{place.name} is on Loc8r because it has accessible wifi and space to sit down with your laptop and get some work done.
      p
        | If you've been and you like it - or if you don't - please leave a review to help other people just like you.

